.table_container {
  padding: 0% 1rem;
}

.header {
  @media screen and (max-width: 768px) {
    position: fixed;
    top: 48px;
    left: 0px;
    padding: 1rem 1rem;
    display: flex;
    z-index: 99;
    width: 100%;
    height: 100px;
    background-color: white;
  }

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 48px;
    left: 0px;
    padding: 1rem 1rem;
    display: flex;
    z-index: 99;
    width: 100%;
    height: 70px;
    background-color: white;
  }
}

.search_window {
  @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;

    p {
      margin: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    p {
      font-size: 0.8rem;
      margin: 0px;
    }
  }
}

.search_block {
  @media screen and (max-width: 768px) {
    height: 48px;
    display: flex;
  }

  @media screen and (min-width: 768px) {
    margin-right: 0.5rem;
  }
}

.button {
  @media screen and (max-width: 768px) {
    background-color: rgb(33, 123, 233);
    border-color: rgb(45, 134, 207);
    border-style: outset;
    border-radius: 10px;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    width: 150px;
  }

  @media screen and (min-width: 768px) {
    cursor: pointer;
    background-color: rgb(33, 123, 233);
    border-color: rgb(45, 134, 207);
    border-style: outset;
    border-radius: 10px;
    color: white;
  }
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}
